/*
@import url(https://fonts.googleapis.com/css?family=Roboto);
*/

.absolute-layout {
    box-sizing: border-box;
    position: absolute;
}

.relative-layout {
    box-sizing: border-box;
    position: relative;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.map-viewport {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    background-color: black;
}

.map-whole {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

.map-whole:focus, .map-inner:focus {
    outline: none;
}

.map-inner {
    position: absolute;
}

.city-tile {
    background-color: #ff00000f;
    border: 1px solid black;
    box-sizing: border-box;
}

.city-roulette {
}

.city-roulette-empty {
    background-color: blue;
}

.city-roulette-building {
    background-color: green;
}

.city-roulette-resource {
    background-color: yellow;
}